* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.w100 {
  width: 100%;
}

.user {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
  padding: 2rem;

  border: 1px solid #cc00ff;
}

.post {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-top: 1.5rem;
  padding: 2rem;

  border: 1px solid #33ff00;
}

.post__list {
  width: 100%;
  padding: 2rem;
}
